# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_USB_DEVICE_MANUFACTURER="Keebio"
CONFIG_USB_DEVICE_VID=0xCB10
CONFIG_USB_DEVICE_PID=0x1556

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=125000000

# Enable reset by default
CONFIG_RESET=y

# Clock Control
CONFIG_CLOCK_CONTROL=y

# Flash Settings
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Output UF2 by default
CONFIG_BUILD_OUTPUT_UF2=y

# Enable RGB underglow, override some defaults
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_SPI=n # Use PIO

CONFIG_ZMK_RGB_UNDERGLOW_AUTO_OFF_IDLE=y
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n
CONFIG_ZMK_RGB_UNDERGLOW_BRT_MAX=80
CONFIG_ZMK_RGB_UNDERGLOW_BRT_START=30

CONFIG_ZMK_RGB_UNDERGLOW_ON_START=y
CONFIG_ZMK_RGB_UNDERGLOW_EFF_START=3

CONFIG_ZMK_SPLIT_WIRED_UART_MODE_POLLING=y
CONFIG_ZMK_SPLIT_WIRED_POLLING_RX_PERIOD=3
CONFIG_MAIN_STACK_SIZE=2048
