/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&gresc     &kp N1  &kp N2  &kp N3  &kp N4    &kp N5                        &kp N6  &kp N7    &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E   &kp R     &kp T                         &kp Y   &kp U     &kp I      &kp O    &kp P     &kp DELETE
&kp LCTRL  &kp A   &kp S   &kp D   &kp F     &kp G                         &kp H   &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C   &kp V     &kp B   &kp HOME   &kp END    &kp N   &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                   &kp LGUI  &mo 1   &kp ENTER  &kp SPACE  &mo 2   &kp RALT
            >;
        };

        lower_layer {
            bindings = <
&kp TILDE        &kp EXCL    &kp AT    &kp LSHFT  &kp HASH     &kp PERCENT                      &kp CARET  &kp AMPS         &kp ASTRK        &kp LPAR         &kp RPAR         &kp PAGE_UP
&kp GRAVE        &none       &kp UP    &none      &bootloader  &none                            &none      &kp KP_NUMBER_7  &kp KP_N8        &kp KP_NUMBER_9  &kp KP_NUMBER_0  &kp PAGE_DOWN
&kp BSPC         &kp LEFT    &kp DOWN  &kp RIGHT  &none        &kp LBKT                         &kp RBKT   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PLUS         &kp PIPE
&rgb_ug RGB_EFF  &sys_reset  &none     &none      &none        &kp LBRC     &kp LPAR  &kp RPAR  &kp RBRC   &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp MINUS        &none
                                                  &none        &trans       &kp BSPC  &kp BSPC  &trans     &kp KP_N0
            >;
        };

        raise_layer {
            bindings = <
&kp F12          &kp F1      &kp F2      &kp F3        &kp F4         &kp F5                           &kp F6     &kp F7    &kp F8           &kp F9           &kp F10          &kp F11
&rgb_ug RGB_TOG  &kp EXCL    &kp AT      &kp HASH      &kp DOLLAR     &kp PERCENT                      &kp CARET  &kp AMPS  &kp ASTRK        &kp LPAR         &kp RPAR         &bootloader
&rgb_ug RGB_EFF  &kp C_PREV  &kp C_NEXT  &kp C_VOL_UP  &kp PAGE_UP    &kp UNDER                        &kp EQUAL  &kp HOME  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &kp BSLH
&kp C_MUTE       &kp C_STOP  &kp C_PLAY  &kp C_VOL_DN  &kp PAGE_DOWN  &kp MINUS    &kp LPAR  &kp RPAR  &kp PLUS   &kp END   &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &studio_unlock
                                                       &trans         &trans       &trans    &trans    &trans     &trans
            >;
        };

        studio_extra_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        studio_extra_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
