#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_IRIS_CE_REV1_LEFT
    bool "Iris CE rev1 left"
    depends on SOC_RP2040 
    select BOARD_IRIS_CE_LEFT
    select ZMK_USB
    select RP2_FLASH_W25Q080

config BOARD_IRIS_CE_REV1_RIGHT
    bool "Iris CE rev1 right"
    depends on SOC_RP2040 
    select BOARD_IRIS_CE_RIGHT
    select RP2_FLASH_W25Q080

